@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #FEFBF3;
}

li {
    float: right;
    align-content: center;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: cornsilk;
    text-transform: uppercase;
}

header {
    background-color: #79B4B7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a:hover {
    color: rgb(240, 185, 114);
}

.title-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-page * {
    margin: 20px;
}

h1 {
    text-align: center;
}