@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: cadetblue;
    font-family: "Montserrat", sans-serif;
}

    body {
    

}

 

li {
    float: right;
    align-content: center;
    font-family: "Montserrat", sans-serif;
    font: size 20px;
    font-weight: 600;
    color:cornsilk;
    text-transform: uppercase;

  }

 header {
     display: flex;
     justify-content: space-between;
     align-items:center;
     padding: 30px 10%;
 }

nav {background-color: cadetblue;}
 
.nav_links {
     list-style: none;
 }

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a:hover {
    color: rgb(240, 185, 114); 
}


main {
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 30px 10%;
}
.container 
    padding: 30px 10%;
    margin: ;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: ;


img {
    padding: 20px 20px;
    margin: 20px;
    align-items: center;
}

h1 {
    text-align: center; 
}












 

